body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 150px;
     background-color: #4c8f96;
     /* margin-top: -25px; */
     margin-bottom: 50px;

}
.navigation-area{
    width: 960px;
    height: 150px;
     /* background-color: #ce61d3; */
     margin: 0 auto;
}
.logo{
    width: 250px;
    height: 120px;
    background-color: #222841;
    color: white;
    float: left;
    position:relative;
    top: 50px;
}
.logo h1{
    text-align: center;
    font-size: 50px;
    /* margin-top: 30px; */
   
}
.navigation-area ul{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation-area ul  li{
    float: left;
    margin-top: 95px;
    margin-right: 30px;
}
.navigation-area ul  li a{
    text-decoration: none;
    color: white;
    background-color: #222841;
    padding: 7px 12px;
    border-radius: 5px;

}
.navigation-area .home{
    background-color: lightslategray;
}

.main{
    width: 960px;
    height: 1000px;
   
    margin: 0 auto;
}
.firstbox{
    background-color: white;
    width: 940px;
    height: 355px;
    border: 5px solid skyblue;
}
.firstbox img{
    float: left;

}
.firstbox h1{
    float: right;
    margin-right: 170px;
    margin-top: 120px;
    
    font-weight:bolder;
}
.secondbox{
    width: 210px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;

    
   
}
.secondbox img{
    border: 5px solid skyblue;
    margin-bottom: 30px;
    margin-right: 20;

}


.secondbox p{
    
    line-height: 25px;
    font-size: 14px;
    
}

/* thirs-box starts */
.leftbox{
    width: 440px;
border: 5px solid lightblue;
clear:both;
float: left;
padding-left: 20px;

}
.featured{
    width: 145px;
    height: 43px;
    background-color: rgb(29, 29, 68);
    color: white;
    text-align: center;
    margin-bottom:30px;
    margin-top:30px;
    position: relative;
    top:-40px;
}

.featured h4{
  padding-top: 8px;
  font-weight: 100;
  font-size: 28px;
 
}

.leftbox img{
    float: left;
    margin-bottom: 40px;
    margin-top: -50px;
}

.leftbox h4{
    float: left;
    margin-left: 40px;
     /* margin-top: 0;  */
     margin-top: -50px;
     position: relative;
     /* top: -50px; */

}

.leftbox p{
    clear: both;
    font-size: 13px;
    line-height: 26px;
}

.rightbox{
    width: 440px;
    background-color: rgb(72, 185, 230);
    border:5px solid skyblue;
    color: white;
    line-height: 25px;
    font-size: 14px;
    float: right;
    padding-left: 20px;
    
}

.rightbox h4{
    text-align: right;
}

.hair h1{
    width: 140px;
    height: 37px;
    text-align: center;
    background-color: rgb(29, 29, 68);
    margin-bottom:30px;
    margin-top:30px;
    position: relative;
    top:-40px;
    padding-top: 10px;
   
}

.bottombox{
    width: 440px;
    height: 220px;
    background-color: rgb(72, 185, 230);
    border:5px solid skyblue;
    color: white;
    line-height: 25px;
    font-size: 14px;
    float: right;
    padding-left: 20px;
    margin-top: 20px;
    
}

.bottombox img{
    float: left;
    position: relative;
    top: -15px;
    
} 

.bottombox p{
    margin-top: 60px;
}

.footer-fullwidth{
    width: 100%;
    height: 150px;
    background-color: #4c8f96;
    clear: both;
}

.footer{
    width: 960px;
    height: 120px;
    margin: 0 auto;
    
}

.footer p{
    float: left;
    color: white;
    position: relative;
    left: 300px;
    top: 30px;
}

.social{
   float: right;
   margin-top: 60px;
   width: 200px;
   height: 50px;
   background-color: #387982;
}

.social span{
    padding:15px;
    font-size: 15px;
   
    
}